# Ignore all files by default
*
*.*

# But track specific file types
!.cs
!*.cs
!*.json
!.gitignore
!README.md
!TODO.md

# Ignore specific folders
BachatGatAPI/bin/

# Also track directories for their contents
!*/
!.github/
!.vscode/
